DEV_GATEWAY_PORT=
DEV_GATEWAY_URL=

DEV_ADMIN_SERVICE_PORT=

DEV_AUTH_SERVICE_PORT=
DEV_AUTH_SERVICE_URL=
DEV_AUTH_SERVICE_DATABASE_PORT=
DEV_AUTH_QUEUE_NAME=

DEV_NUTRITIONIST_SERVICE_PORT=
DEV_NUTRITIONIST_SERVICE_URL=
DEV_NUTRITIONIST_SERVICE_DATABASE_PORT=
DEV_NUTRITIONIST_QUEUE_NAME=

DEV_PATIENT_SERVICE_PORT=
DEV_PATIENT_SERVICE_URL=
DEV_PATIENT_SERVICE_DATABASE_PORT=
DEV_PATIENT_QUEUE_NAME=

DEV_DIET_SERVICE_PORT=
DEV_DIET_SERVICE_URL=
DEV_DIET_SERVICE_DATABASE_PORT=
DEV_DIET_QUEUE_NAME=

DEV_ALIMENT_SERVICE_PORT=
DEV_ALIMENT_SERVICE_URL=
DEV_ALIMENT_SERVICE_DATABASE_PORT=
DEV_ALIMENT_QUEUE_NAME=

DEV_RECORD_SERVICE_PORT=
DEV_RECORD_SERVICE_URL=
DEV_RECORD_SERVICE_DATABASE_PORT=
DEV_RECORD_QUEUE_NAME=

DEV_RABBITMQ_HOST=
DEV_RABBITMQ_PORT=
DEV_RABBITMQ_URL=

JWT_EXPIRES_IN=

AUTH_PRIVATE_KEY=
AUTH_PUBLIC_KEY=