# Example environment file
# Copy this file to .env and fill in the values

DEV_GATEWAY_PORT=
DEV_GATEWAY_URL=

DEV_ADMIN_SERVICE_PORT=
DEV_ADMIN_SERVICE_URL=
DEV_ADMIN_SERVICE_DATABASE_HOST=
DEV_ADMIN_SERVICE_DATABASE_PORT=

DEV_AUTH_SERVICE_PORT=
DEV_AUTH_SERVICE_URL=
DEV_AUTH_SERVICE_DATABASE_PORT=
DEV_AUTH_SERVICE_DATABASE_HOST=
DEV_AUTH_QUEUE_NAME=
AUTH_SERVICE_JWKS_URL=

DEV_NUTRITIONIST_SERVICE_PORT=
DEV_NUTRITIONIST_SERVICE_URL=
DEV_NUTRITIONIST_SERVICE_DATABASE_PORT=
DEV_NUTRITIONIST_SERVICE_DATABASE_HOST=
DEV_NUTRITIONIST_QUEUE_NAME=

DEV_PATIENT_SERVICE_PORT=
DEV_PATIENT_SERVICE_URL=
DEV_PATIENT_SERVICE_DATABASE_PORT=
DEV_PATIENT_SERVICE_DATABASE_HOST=
DEV_PATIENT_QUEUE_NAME=

DEV_DIET_SERVICE_PORT=
DEV_DIET_SERVICE_URL=
DEV_DIET_SERVICE_DATABASE_PORT=
DEV_DIET_SERVICE_DATABASE_HOST=
DEV_DIET_QUEUE_NAME=

DEV_ALIMENT_SERVICE_PORT=
DEV_ALIMENT_SERVICE_URL=
DEV_ALIMENT_SERVICE_DATABASE_PORT=
DEV_ALIMENT_SERVICE_DATABASE_HOST=
DEV_ALIMENT_QUEUE_NAME=

DEV_RECORD_SERVICE_PORT=
DEV_RECORD_SERVICE_URL=
DEV_RECORD_SERVICE_DATABASE_PORT=
DEV_RECORD_SERVICE_DATABASE_HOST=
DEV_RECORD_QUEUE_NAME=

DEV_GAME_SERVICE_PORT=
DEV_GAME_SERVICE_URL=
DEV_GAME_SERVICE_DATABASE_PORT=
DEV_GAME_SERVICE_DATABASE_HOST=
DEV_GAME_QUEUE_NAME=

DEV_NOTIFICATION_SERVICE_PORT=
DEV_NOTIFICATION_SERVICE_URL=
DEV_NOTIFICATION_SERVICE_DATABASE_PORT=
DEV_NOTIFICATION_SERVICE_DATABASE_HOST=
DEV_NOTIFICATION_QUEUE_NAME=

DEV_RABBITMQ_HOST=
DEV_RABBITMQ_PORT=
DEV_RABBITMQ_URL=

DEV_KAFKA_URL=

JAEGER_ENDPOINT=

DEV_LOG_SERVICE_PORT=

JWT_EXPIRES_IN=

AUTH_NODEMAILER_MAIL=
AUTH_NODEMAILER_PASSWORD=
