GATEWAY_PORT=
GATEWAY_URL=

AUTH_SERVICE_PORT=
AUTH_SERVICE_URL=
AUTH_SERVICE_DATABASE_PORT=
AUTH_QUEUE_NAME=

NUTRITIONIST_SERVICE_PORT=
NUTRITIONIST_SERVICE_URL=
NUTRITIONIST_SERVICE_DATABASE_PORT=
NUTRITIONIST_QUEUE_NAME=

PATIENT_SERVICE_PORT=
PATIENT_SERVICE_URL=
PATIENT_SERVICE_DATABASE_PORT=
PATIENT_QUEUE_NAME=

RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_URL=

JWT_SECRET=
JWT_EXPIRES_IN=